### このノート
- mashroomを用いて使えるデータを作る

In [22]:
%run make_small_ost_datasets.ipynb

In [23]:
import pandas as pd
import numpy as np

In [24]:
ost = pd.read_csv("../../input/ost.csv")

In [25]:
ost

    Y  LI  SEX  AOP  COUNT
0   0   0    0    0      0
1   0   0    0    1      0
2   0   0    1    0      0
3   0   0    1    1      0
4   0   1    0    0      0
5   0   1    0    1      2
6   0   1    1    0      4
7   0   1    1    1     11
8   1   0    0    0      3
9   1   0    0    1      2
10  1   0    1    0      4
11  1   0    1    1      1
12  1   1    0    0      5
13  1   1    0    1      3
14  1   1    1    0      5
15  1   1    1    1      6

In [26]:
#2020/11/13作成
#mak_ost_df(ost, 6)
#mak_ost_df(ost, 16)
#mak_ost_df(ost, 20)
#mak_ost_df(ost, 30)
#mak_ost_df(ost, 40)