### このノート
- mashroomを用いて使えるデータを作る

In [1]:
import pandas as pd
import numpy as np

In [2]:
mushroom = pd.read_csv("../input/mushroom.txt", sep=' ', header=None, index_col=None)

In [3]:
mushroom.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,5,8,14,21,28,33,35,39,44,52,...,69,78,80,84,87,94,99,109,117,0
1,5,8,19,21,22,33,35,38,44,52,...,69,78,80,84,87,94,100,108,113,1
2,0,8,18,21,25,33,35,38,45,52,...,69,78,80,84,87,94,100,108,115,1
3,5,9,18,21,28,33,35,39,45,52,...,69,78,80,84,87,94,99,109,117,0
4,5,8,13,20,27,33,37,38,44,53,...,69,78,80,84,87,90,100,106,113,1

In [4]:
mushroom.shape

(8124, 22)

### y
`y_mushroom`と命名

In [5]:
y_mushroom = mushroom[21]
y_mushroom.rename('y')
y_mushroom.to_csv('../input/y_mushroom.csv')

In [6]:
y_mushroom

0       0
1       1
2       1
3       0
4       1
       ..
8119    1
8120    1
8121    1
8122    0
8123    1
Name: 21, Length: 8124, dtype: int64

### X
`X_mashroom`と命名

In [7]:
max(mushroom[20])
#0-118 ⇒ 119列　用意するのが必要

118

In [8]:
mushroom.index

RangeIndex(start=0, stop=8124, step=1)

In [9]:
type(np.arange(mushroom.shape[0]))

numpy.ndarray

In [10]:
np.arange(max(mushroom[20])+1)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118])

In [11]:
X_mushroom = pd.DataFrame(index=np.arange(mushroom.shape[0]), columns=np.arange(max(mushroom[20])+1))

In [12]:
X_mushroom.shape

(8124, 119)

In [13]:
X_mushroom.head()

,0,1,2,3,4,5,6,7,8,9,...,109,110,111,112,113,114,115,116,117,118
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
for i in range(mushroom.shape[0]):
    for j in range(mushroom.shape[1]):
        X_mushroom.iloc[i, mushroom.iloc[i, j]] = 1

In [15]:
X_mushroom.head()

,0,1,2,3,4,5,6,7,8,9,...,109,110,111,112,113,114,115,116,117,118
0,1,NaN,NaN,NaN,NaN,1,NaN,NaN,1,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
1,NaN,1,NaN,NaN,NaN,1,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
3,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,NaN,1,NaN,NaN,NaN,1,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN

In [16]:
X_mushroom = X_mushroom.fillna(0)

In [17]:
X_mushroom

,0,1,2,3,4,5,6,7,8,9,...,109,110,111,112,113,114,115,116,117,118
0,1,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
1,0,1,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,1,0,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
4,0,1,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,0,1,0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
8120,0,1,0,0,0,1,0,0,1,0,...,0,1,0,0,0,1,0,0,0,0
8121,0,1,1,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
8122,1,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,1,0,0,0,0
8123,0,1,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0

In [18]:
#X_mushroom.to_csv('../input/X_mushroom.csv')