In [11]:
!pwd

/Users/shihosato/src/github.com/twinkle13531/master_degree/202011/scripts/trials/Preparation

In [12]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
%autoreload 2
#実行する度にインポートしたモジュールをリロード

In [14]:
import sys, os
sys.path.append(os.path.join('..', '..','functions','make_datasets'))

In [15]:
import ost_datasets
import pandas as pd
import numpy as np

In [16]:
print(ost_datasets.__file__)

../../functions/make_datasets/ost_datasets.py

In [39]:
ost20 = pd.read_csv('../../../input/ost20.csv')
ost20.head()

   Y  LI  SEX  AOP
0  0   1    1    0
1  1   1    1    1
2  0   1    1    1
3  1   1    1    1
4  0   1    1    1

In [229]:
#ost_datasets.make_ost46(ost)

In [230]:
#ost46 = pd.read_csv('../../../input/ost46.csv')

In [232]:
#ost46.head()

In [17]:
#num_sample

#num_sample = 25
#num_sample = 35

In [18]:
ost_datasets.make_ost_num_df(num_sample)

In [19]:
ost35 = pd.read_csv('../../../input/ost35.csv')
ost35

    Y  LI  SEX  AOP
0   1   1    1    0
1   0   1    1    1
2   0   1    1    1
3   1   0    1    0
4   0   1    1    1
5   1   1    1    1
6   1   0    0    1
7   1   1    0    0
8   1   1    1    0
9   0   1    1    1
10  0   1    1    0
11  1   0    1    0
12  0   1    1    1
13  1   1    1    1
14  1   1    0    0
15  1   1    0    1
16  1   1    1    0
17  1   1    1    1
18  1   0    0    0
19  0   1    1    1
20  0   1    1    1
21  1   1    1    0
22  0   1    1    1
23  0   1    1    1
24  0   1    1    1
25  1   0    1    0
26  1   0    0    0
27  0   1    1    0
28  1   0    1    0
29  1   1    0    0
30  1   0    1    1
31  1   1    1    1
32  0   1    0    1
33  1   1    0    0
34  0   1    0    1